@model BugTracker.Models.ViewDataModels.BugReportViewModel

<h2>@Model.BugReport.ID</h2>

<label>Date</label>
<p>@Model.BugReport.Date</p>

<form id="status-change-form" method="post" asp-controller="AccountActions" asp-action="UpdateBugTag" asp-route-reportId=@Model.BugReport.ID asp-route-tagType="status">
	<label>Status</label>
	<select name="status-select" onchange="submitForm('status-change-form')">
		<option selected hidden>@Model.BugReport.Status</option>
		<option>Deferred</option>
		<option>Rejected</option>
		<option>Duplicate</option>
		<option>Not a Bug</option>
		<option>Open</option>
		<option>Closed</option>
	</select>
</form>

<form id="priority-change-form" method="post" asp-controller="AccountActions" asp-action="UpdateBugTag" asp-route-reportId=@Model.BugReport.ID asp-route-tagType="priority">
	<label>Priority</label>
	<select name="priority-select" onchange="submitForm('priority-change-form')">
		<option selected hidden>@Model.BugReport.Priority</option>
		<option>Low</option>
		<option>Medium</option>
		<option>High</option>
	</select>
</form>

<form id="severity-change-form" method="post" asp-controller="AccountActions" asp-action="UpdateBugTag" asp-route-reportId=@Model.BugReport.ID asp-route-tagType="severity">
	<label>Severity</label>
	<select name="severity-select" onchange="submitForm('severity-change-form')">
		<option selected hidden>@Model.BugReport.Severity</option>
		<option>Low</option>
		<option>Medium</option>
		<option>High</option>
	</select>
</form>

<label>Operating System</label>
<p>@Model.BugReport.OS</p>

<label>Device</label>
<p>@Model.BugReport.Device</p>

<label>Details</label>
<p>@Model.BugReport.Details</p>