@model BugTracker.Models.ViewDataModels.BugReportViewModel

<h2>@Model.BugReport.ID</h2>

<label>Date</label>
<p>@Model.BugReport.Date</p>

<form method="post" asp-controller="AccountActions" asp-action="UpdateBugStatus" asp-route-reportId=@Model.BugReport.ID>
	<label>Status</label>
	<select name="status-select">
		<option selected disabled hidden>@Model.BugReport.Status</option>
		<option>Deferred</option>
		<option>Rejected</option>
		<option>Duplicate</option>
		<option>Not a Bug</option>
		<option>Open</option>
		<option>Closed</option>
	</select>
	<button type="submit">Update Status</button>
</form>

<label>Priority</label>
<p>@Model.BugReport.Priority</p>

<label>Severity</label>
<p>@Model.BugReport.Severity</p>

<label>Summary</label>
<p>@Model.BugReport.Summary</p>

<label>Operating System</label>
<p>@Model.BugReport.OS</p>

<label>Device</label>
<p>@Model.BugReport.Device</p>

<label>Details</label>
<p>@Model.BugReport.Details</p>