@model BugTracker.Models.ViewDataModels.BugReportViewModel

<!-- bug report header -->
<div class="row">
	<div class="col-1">
		<h2><span class="material-symbols-outlined col-auto" style="color: @Model.BugReport.DisplayColor;">bug_report</span></h2>
	</div>
	<div class="col-11">
		<h2 class="text-grey">ID #@Model.BugReport.ID</h2>
	</div>
	<div class="col-12">
		<i class="text-grey">Reported on @Model.BugReport.Date</i>
	</div>
</div>

<div class="row my-3">
	@if (Model.IsDeveloper)
	{
		<!-- help wanted status actions -->
		<div class="col-2">
			<div class="rounded-pill p-1">Help Wanted</div>
		</div>
		<div class="col-4">
			<form method="post" id="help-wanted-form" asp-controller="AccountActions" asp-action="UpdateHelpWanted" asp-route-reportId=@Model.BugReport.ID>
				<label class="switch">
					<input type="checkbox" name="help-wanted" checked=@Model.BugReport.HelpWanted onchange="submitForm('help-wanted-form')">
					<span class="slider"></span>
				</label>
			</form>
		</div>

	}
	else if (Model.BugReport.HelpWanted)
	{
		<div class="col-6 rounded-pill bg-success text-light d-inline p-1">Help Wanted</div>
	}

	<!-- user upvoting -->
	<div class="col-auto">
		<form method="post" id="user-upvote-form" asp-controller="AccountActions" asp-action="UpdateUpvotes" asp-route-reportId=@Model.BugReport.ID>
			<label class="toggle">
				<input type="checkbox" name="user-upvote" checked=@Model.UserUpvoted onchange="submitForm('user-upvote-form')">
				<span class="upvote-arrow"><i class="fa fa-caret-square-o-up"></i></span>
			</label>
		</form>
	</div>
	<div class="col-auto">
		@Model.BugReport.Upvotes
	</div>
</div>

<!-- bug report assignee information -->
<h4 class="my-3">Assignees</h4>
<ul class="list-unstyled">
	@foreach (var developer in Model.Assignees)
	{
		<li>
			<form method="post" asp-controller="AccountActions" asp-action="DeleteAssignment" asp-route-reportId=@Model.BugReport.ID asp-route-developerId=@developer.ID>
				<div class="row">
					<div class="col-auto">
						@if (developer.Avatar != null)
						{
							<img src="@developer.Avatar" alt="" class="avatar-size-30 rounded-circle" />
						}
						else
						{
							<span class="material-symbols-outlined avatar-size-30 rounded-circle">account_circle</span>
						}
					</div>
					<div class="col-auto">
						@developer.Name
					</div>
					@if (Model.IsDeveloper)
					{
						<div class="col-auto custom-ms">
							<button type="submit" class="bg-white border-0 avatar-size-30">
								<span class="material-symbols-outlined">
									person_remove
								</span>
							</button>
						</div>
					}
				</div>				
			</form>
		</li>
	}
</ul>

<!-- developer assignment -->
@if (Model.IsDeveloper)
{
	<div class="row my-3">
		<form id="assign-developer-form" method="post" asp-controller="AccountActions" asp-action="AddAssignment" asp-route-reportId=@Model.BugReport.ID>
			<label>Assign Developers</label>
			<select name="developer-select" class="developer-select half-screen-width" onchange="submitForm('assign-developer-form')">
				<option selected hidden disabled></option>
				@foreach (var developer in Model.AvailableDevelopers)
				{
					@if (developer.Status != "Busy")
					{
						<option value=@developer.ID>
							<div class="row">
								<div class="col-auto">
									@if (developer.Avatar != null)
									{
										<img src=@developer.Avatar alt="" class="avatar-size-30 rounded-circle" />
									}
									else
									{
										<span class="material-symbols-outlined avatar-size-30 rounded-circle">account_circle</span>
									}
								</div>
								<div class="col-auto">
									@developer.Name
								</div>
							</div>
						</option>
					}
				}
			</select>
		</form>
	</div>
}

<!-- status change forms / status display -->
<div class="row my-3">
	
	@if (Model.IsDeveloper)
	{
		<!-- status change form -->
		<div class="col-auto mx-2">
			<form id="status-change-form" method="post" asp-controller="AccountActions" asp-action="UpdateBugTag" asp-route-reportId=@Model.BugReport.ID asp-route-tagType="status">
				<label for="status-select">Status</label>
				<select id="status-select" name="status-select" onchange="submitForm('status-change-form')">
					<option selected hidden>@Model.BugReport.Status</option>
					<option>Deferred</option>
					<option>Rejected</option>
					<option>Duplicate</option>
					<option>Not a Bug</option>
					<option>Open</option>
					<option>Closed</option>
				</select>
			</form>
		</div>

		<!-- priority change form -->
		<div class="col-auto mx-2">
			<form id="priority-change-form" method="post" asp-controller="AccountActions" asp-action="UpdateBugTag" asp-route-reportId=@Model.BugReport.ID asp-route-tagType="priority">
				<label for="priority-select">Priority</label>
				<select id="priority-select" name="priority-select" onchange="submitForm('priority-change-form')">
					<option selected hidden>@Model.BugReport.Priority</option>
					<option>Low</option>
					<option>Medium</option>
					<option>High</option>
				</select>
			</form>
		</div>

		<!-- severity change form -->
		<div class="col-auto mx-2">
			<form id="severity-change-form" method="post" asp-controller="AccountActions" asp-action="UpdateBugTag" asp-route-reportId=@Model.BugReport.ID asp-route-tagType="severity">
				<label for="severity-select">Severity</label>
				<select id="severity-select" name="severity-select" onchange="submitForm('severity-change-form')">
					<option selected hidden>@Model.BugReport.Severity</option>
					<option>Low</option>
					<option>Medium</option>
					<option>High</option>
				</select>
			</form>
		</div>
	}
	else
	{
		<div class="col-auto mx-2">
			<label for="status">Status</label>
			<p id="status">@Model.BugReport.Status</p>
		</div>
		<div class="col-auto mx-2">
			<label for="priority">Priority</label>
			<p id="priority">@Model.BugReport.Priority</p>
		</div>
		<div class="col-auto mx-2">
			<label for="severity">Severity</label>
			<p id="severity">@Model.BugReport.Severity</p>
		</div>
	}
</div>

<!-- bug information -->
<label for="os">Operating System</label>
<p id="os">@Model.BugReport.OS</p>

<label for="device">Device</label>
<p id="device">@Model.BugReport.Device</p>

<label for="bug-details">Details</label>
<p id="bug-details">@Model.BugReport.Details</p>

<!-- comment section -->
<h5 class="mt-5">Comments</h5>

<form method="post" asp-controller="AccountActions" asp-action="Comment" asp-route-reportId=@Model.BugReport.ID>
	<input type="text" name="user-comment" placeholder="Enter a comment here" />
	<button type="submit" class="bg-white">
		<i class="fa fa-angle-double-right"></i>
	</button>
</form>

<ul class="list-unstyled mt-2">
	@foreach (var comment in Model.Comments)
	{
		<li>
			<div class="row">
				<div class="col-auto">
					@if (@comment.Commenter != null && comment.Commenter.Avatar != null)
					{
						<img src=@comment.Commenter.Avatar alt="" class="avatar-size-30 rounded-circle" />
					}
					else
					{
						<span class="material-symbols-outlined avatar-size-30 rounded-circle">account_circle</span>
					}
				</div>
				<div class="col-auto">
					@comment.Comment
				</div>
			</div>
		</li>
	}
</ul>