@model BugTracker.Models.ViewDataModels.BugReportViewModel

<h2>@Model.BugReport.ID</h2>

<label>Date</label>
<p>@Model.BugReport.Date</p>

<label>Status</label>
<p>@Model.BugReport.Status</p>

<label>Priority</label>
<p>@Model.BugReport.Priority</p>

<label>Severity</label>
<p>@Model.BugReport.Severity</p>

<label>Summary</label>
<p>@Model.BugReport.Summary</p>

<label>Operating System</label>
<p>@Model.BugReport.OS</p>

<label>Device</label>
<p>@Model.BugReport.Device</p>

<label>Details</label>
<p>@Model.BugReport.Details</p>