@model BugTracker.Models.ViewDataModels.BugReportViewModel

<h2>@Model.BugReport.ID</h2>

<label>Date</label>
<p>@Model.BugReport.Date</p>

@if (Model.BugReport.HelpWanted == true)
{
	<label>Help Wanted</label>
	<form method="post" asp-controller="AccountActions" asp-action="RemoveHelpWanted">
		<input type="hidden" name="report-id" value=@Model.BugReport.ID />
		<button type="submit">Remove Help Wanted Label</button>
	</form>
}
else if (Model.BugReport.HelpWanted == false)
{
	<form method="post" asp-controller="AccountActions" asp-action="AddHelpWanted">
		<input type="hidden" name="report-id" value=@Model.BugReport.ID />
		<button type="submit">Add Help Wanted</button>
	</form>
}

@if (Model.UserUpvoted == true)
{
	<form method="post" asp-controller="AccountActions" asp-action="RemoveUpvote">
		<input type="hidden" name="report-id" value=@Model.BugReport.ID />
		<button type="submit"><i class="fa fa-caret-up" style="color: black"></i></button>
	</form>
} 
else if (Model.UserUpvoted == false)
{
	<form method="post" asp-controller="AccountActions" asp-action="Upvote">
		<input type="hidden" name="report-id" value=@Model.BugReport.ID />
		<button type="submit"><i class="fa fa-caret-up" style="color: grey"></i></button>
	</form>
}
<div>@Model.BugReport.Upvotes</div>

<label>Assignees</label>
<ul>
	@foreach (var developer in Model.Assignees)
	{
		<li>
			<form method="post" asp-controller="AccountActions" asp-action="DeleteAssignment">
				<input type="hidden" name="report-id" value=@Model.BugReport.ID />
				<input type="hidden" name="developer-id" value=@developer.ID />
				<img src=@developer.Avatar alt="project avatar" class="custom-avatar-size-1 rounded-circle">
				<label>@developer.Name</label>
				<button type="submit" class="rounded-circle bg-white"><i class="fa fa-user-times"></i></button>
			</form>
		</li>
	}
</ul>

<form id="assign-developer-form" method="post" asp-controller="AccountActions" asp-action="AddAssignment" >
	<input type="hidden" name="report-id" value=@Model.BugReport.ID />
	<label>Assign Developers</label>
	<select name="developer-select" class="developer-select screen-width" onchange="submitForm('assign-developer-form')">
		@foreach (var developer in Model.AvailableDevelopers)
		{
			@if (developer.Status != "Busy")
			{
				<option value=@developer.ID>@developer.Name</option>
			}
		}
	</select>
</form>

<form id="status-change-form" method="post" asp-controller="AccountActions" asp-action="UpdateBugTag" asp-route-tagType="status">
	<input type="hidden" name="report-id" value=@Model.BugReport.ID />
	<label>Status</label>
	<select name="status-select" onchange="submitForm('status-change-form')">
		<option selected hidden>@Model.BugReport.Status</option>
		<option>Deferred</option>
		<option>Rejected</option>
		<option>Duplicate</option>
		<option>Not a Bug</option>
		<option>Open</option>
		<option>Closed</option>
	</select>
</form>

<form id="priority-change-form" method="post" asp-controller="AccountActions" asp-action="UpdateBugTag" asp-route-reportId=@Model.BugReport.ID asp-route-tagType="priority">
	<input type="hidden" name="report-id" value=@Model.BugReport.ID />
	<label>Priority</label>
	<select name="priority-select" onchange="submitForm('priority-change-form')">
		<option selected hidden>@Model.BugReport.Priority</option>
		<option>Low</option>
		<option>Medium</option>
		<option>High</option>
	</select>
</form>

<form id="severity-change-form" method="post" asp-controller="AccountActions" asp-action="UpdateBugTag" asp-route-reportId=@Model.BugReport.ID asp-route-tagType="severity">
	<input type="hidden" name="report-id" value=@Model.BugReport.ID />
	<label>Severity</label>
	<select name="severity-select" onchange="submitForm('severity-change-form')">
		<option selected hidden>@Model.BugReport.Severity</option>
		<option>Low</option>
		<option>Medium</option>
		<option>High</option>
	</select>
</form>

<label>Operating System</label>
<p>@Model.BugReport.OS</p>

<label>Device</label>
<p>@Model.BugReport.Device</p>

<label>Details</label>
<p>@Model.BugReport.Details</p>

<h5>Comments</h5>
<form method="post" asp-controller="AccountActions" asp-action="Comment">
	<input type="hidden" name="report-id" value=@Model.BugReport.ID />
	<input type="text" name="user-comment" placeholder="Enter a comment here" />
	<button type="submit">
		<i class="fa fa-angle-double-right"></i>
	</button>
</form>
<ul>
	@foreach (var comment in Model.Comments)
	{
		<li>
			@comment.Comment
		</li>
	}
</ul>