@model BugTracker.Models.ViewDataModels.ProjectViewModel

<div class="flex flex-column w-100 h-100 justify-content-center align-items-center text-center gap-5 p-4">
    <!-- project information -->
    <div class="row">
        <div class="col-12 gap-5">
            <img src=@Model.Project.Avatar class="avatar-size-100 rounded-circle border-1 border-theme-light" />
            <h1 class="bg-gradient-2 text-gradient text-theme-primary" style="--color1: var(--secondary-theme-color); --color2: var(--on-primary-theme-color);">
                @Model.Project.Name
            </h1>
        </div>
        <div class="col-12 py-3">
            <i class="text-gradient bg-neutral-gradient text-grey">Created at @Model.Project.Date</i>
        </div>
    </div>

    <!-- bug statistics -->
    <div class="row py-3">
        <h3 class="col-4 p-1">
            <span class="text-gradient bg-neutral-gradient text-grey">New</span>
            <sup class="text-theme-neutral">@Model.NewBugs</sup>
        </h3>
        <h3 class="col-4 p-1">
            <span class="text-gradient bg-neutral-gradient text-grey">Pending</span>
            <sup class="text-theme-neutral">@Model.PendingBugs</sup>
        </h3>
        <h3 class="col-4 p-1">
            <span class="text-gradient bg-neutral-gradient text-grey">Fixed</span>
            <sup class="text-theme-neutral">@Model.FixedBugs</sup>
        </h3>
    </div>

    <div class="row py-3">

        <!-- report bug button -->
        <div class="col-6">
            <div class="row h-100 justify-content-end align-items-center">
                <div class="col-auto">
                    <button type="button" class="btn btn-primary btn-standard-gradient px-5"
                            id="create-report-btn" data-bs-toggle="modal" data-bs-target="#create-report-dialog">
                        Report a Bug
                    </button>
                </div>
            </div>
        </div>

        <!-- project bug reports link -->
        <div class="col-6">
            <a asp-controller="Account" asp-action="Reports" asp-route-projectId=@Model.Project.ID
               class="px-5 shift-obj-container text-decoration-none fs-5 fw-500 whitelink">
                <div class="row h-100 justify-content-start">
                    <div class="col-auto">
                        See Bug Reports
                    </div>
                    <div class="col-auto right-shift-obj">
                        &#8618;
                    </div>
                </div>
            </a>
        </div>

    </div>

    <!-- collaborators list -->
    <h3 class="py-3 bg-gradient-2 text-gradient text-theme-light" style="--color1: powderblue; --color2: var(--neutral-theme-color);">
        Developers
    </h3>
    <div class="row justify-content-center">
        @foreach (var developer in Model.Developers)
        {
            <div class="col-2 px-2">
                @if (developer.ID != null)
                {
                    <a asp-controller="Account" asp-action="Profile" asp-route-uid=@developer.ID class="text-decoration-none whitelink">
                        <img src=@developer.Avatar class="avatar-size-50 rounded-circle border-0 border-theme-light" />
                        @developer.Name
                    </a>
                }
                else
                {
                    <span class="material-symbols-outlined avatar-size-50 rounded-circle border-0 border-theme-light">account_circle</span>
                    @developer.Name
                }
            </div>
        }
    </div>

    @if (Model.IsDeveloper)
    {

        <!-- collaborator addition -->
        <div class="row py-1">
            <div class="col-12">
                <form id="add-developer-form" method="post"
                      asp-controller="AccountActions" asp-action="AddDeveloper" asp-route-projectId=@Model.Project.ID>
                    <select name="user-search" class="user-search form-select w-50" onchange="submitForm('add-developer-form')"></select>
                </form>
            </div>
        </div>

        <!-- project deletion -->
        <form method="post" class="py-5" asp-controller="AccountActions" asp-action="DeleteProject" asp-route-projectId=@Model.Project.ID
              onSubmit="return confirm('This action is not cannot be undone. Are you sure you wish to proceed?');">
            <button type="submit" class="btn-theme bg-body-gradient border-2 border-danger text-danger" onsubmit="showLoading()">Delete Project</button>
        </form>

    }

    <!-- bug report modal dialog -->
    <div class="modal fade" id="create-report-dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content bg-body-gradient border-1 border-theme-light">

                <form method="post" asp-controller="AccountActions" asp-action="ReportBug" asp-route-projectId=@Model.Project.ID>

                    <div class="modal-header">
                        <h5 class="modal-title text-theme-light">Report Bug</h5>
                    </div>

                    <div class="modal-body">
                        <label for="report-summary" class="py-2 text-start text-theme-light">Summary</label>
                        <textarea id="report-summary" name="report-summary"
                                  placeholder="Enter a summary of the bug here ..." class="form-control bg-body-gradient border-1 border-theme-light" maxlength="150" required></textarea>
                        <br />
                        <label for="software-version" class="py-2 text-start text-theme-light">Software Version</label>
                        <input type="number" id="software-version" name="software-version" min="1" step="0.001"
                               placeholder="1.0" value="1.0" class="form-control bg-body-gradient border-1 border-theme-light" required />
                        <br />
                        <label for="device" class="py-2 text-start text-theme-light">Device</label>
                        <input type="text" id="device" name="device" placeholder="Enter your device type ..." maxlength="50"
                               class="form-control bg-body-gradient border-1 border-theme-light" />
                        <br />
                        <label for="os" class="py-2 text-start text-theme-light">Operating System</label>
                        <input type="text" id="os" name="os" placeholder="Enter you operating system ..."
                               class="form-control bg-body-gradient border-1 border-theme-light" maxlength="50" required />
                        <br />
                        <label for="details" class="py-2 text-start text-theme-light">Details</label>
                        <textarea id="details" name="details"
                                  class="form-control bg-body-gradient border-1 border-theme-light" placeholder="Add details here ..." required></textarea>
                        <br />
                    </div>

                    <div class="modal-footer gap-2">
                        <button type="button" class="btn btn-secondary btn-neutral-gradient" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary btn-standard-gradient">Submit</button>
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>
