@model BugTracker.Models.ViewDataModels.ProjectViewModel

<img src=@Model.Project.Avatar alt="project avatar" class="custom-avatar-size-3 rounded-circle" />
<h2>@Model.Project.Name</h2>
<label>Created at <i>@Model.Project.CreationDate</i></label>

<!-- project statistics -->
<label>New <b>@Model.NewBugs</b></label>
<label>Pending <b>@Model.PendingBugs</b></label>
<label>Fixed <b>@Model.FixedBugs</b></label>

<!-- bug reporting modal dialog -->
<div class="btn-toolbar">
    <button type="button" class="btn btn-primary" id="create-report-btn" data-bs-toggle="modal" data-bs-target="#create-report-dialog">Report a Bug</button>
    <a asp-controller="Account" asp-action="Reports" asp-route-projectId=@Model.Project.ID>See Bug Reports</a>
</div>

<div class="modal fade" id="create-report-dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="AccountActions" asp-action="ReportBug" asp-route-projectId=@Model.Project.ID>
                <div class="modal-header">
                    <h5 class="modal-title">Report Bug</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <label>Summary</label>
                    <textarea name="report-summary" rows="2" cols="50" placeholder="Enter a summary of the bug here" maxlength="150" required></textarea>
                    <br />
                    <label>Software Version</label>
                    <input type="number" name="software-version" min="1" step="0.001" required />
                    <br />
                    <label>Device</label>
                    <input type="text" name="device" placeholder="Enter your device type" maxlength="50" />
                    <br />
                    <label>Operating System</label>
                    <input type="text" name="os" placeholder="Enter you operating system" maxlength="50" required />
                    <br />
                    <label>Details</label>
                    <textarea name="details" rows="5" cols="50" placeholder="Add details here" required></textarea>
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- collaborators list -->
<h5>Developers</h5>
<ul>
    @foreach (var developer in Model.Developers)
    {
        <li>
            <img src=@developer.Avatar alt="" class="custom-avatar-size-2 rounded-circle" />
            <label>@developer.Name</label>
        </li>
    }
</ul>

<!-- collaborator addition -->
@if (Model.IsDeveloper) 
{
    <form id="add-developer-form" method="post" class="mt-1" asp-controller="Account" asp-action="AddDeveloper">
        <input type="hidden" name="project-id" value=@Model.Project.ID />
        <label>Add Collaborators</label>
        <select name="user-search" class="user-search screen-width" onchange="submitForm('add-developer-form')"></select>
    </form>
}

<!-- form for project deletion -->
@if (Model.IsDeveloper)
{
    <form method="post" onSubmit="return confirm('This action is not cannot be undone. Are you sure you wish to proceed?');" class="mt-sm-5" asp-controller="AccountActions" asp-action="DeleteProject">
        <input type="hidden" name="project-id" value=@Model.Project.ID />
        <button type="submit" class="btn-danger">Delete Project</button>
    </form>
}