@model BugTracker.Models.ViewDataModels.ProjectViewModel

<img src=@Model.Project.Avatar alt="project avatar" class="custom-avatar-size-3 rounded-circle" />
<h2>@Model.Project.Name</h2>
<label>Created at <i>@Model.Project.CreationDate</i></label>

<!-- project statistics -->
<label>New <b>@Model.NewBugs</b></label>
<label>Pending <b>@Model.PendingBugs</b></label>
<label>Fixed <b>@Model.FixedBugs</b></label>

<!-- bug reporting modal dialog -->
<div class="btn-toolbar">
    <button type="button" class="btn btn-primary" id="create-report-btn" data-bs-toggle="modal" data-bs-target="#create-report-dialog">Report a Bug</button>
    <a asp-controller="Account" asp-action="Reports" asp-route-projectId=@Model.Project.ID>See Bug Reports</a>
</div>

<div class="modal fade" id="create-report-dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-controller="AccountActions" asp-action="ReportBug" asp-route-projectId=@Model.Project.ID>
                <div class="modal-header">
                    <h5 class="modal-title">Report Bug</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <label>Summary</label>
                    <input type="text" name="report-summary" placeholder="Enter a summary of the bug here" maxlength="150" required />
                    <br />
                    <label>Software Version</label>
                    <input type="number" name="software-version" min="1" step="0.001" required />
                    <br />
                    <label>Device</label>
                    <input type="text" name="device" placeholder="Enter your device type" maxlength="50" />
                    <br />
                    <label>Operating System</label>
                    <input type="text" name="os" placeholder="Enter you operating system" maxlength="50" required />
                    <br />
                    <label>Details</label>
                    <input type="text" name="details" placeholder="Add details here" required />
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- collaborators list -->
<h5>Developers</h5>
<ul>
    @foreach (var developer in Model.Developers)
    {
        <li>
            <img src=@developer.Avatar alt="" class="rounded-circle" width="50px" height="50px" />
            <label>@developer.Name</label>
        </li>
    }
</ul>

<!-- collaborator addition -->
@if (Model.IsDeveloper)
{
    <h5>Add Collaborators</h5>
    <form method="get" class="mt-1" asp-controller="Account" asp-action="Project">
        <input type="hidden" name="projectId" value=@Model.Project.ID />
        <input type="text" name="searchQuery" placeholder="Search for users ... " />
        <button type="submit">Search</button>
    </form>

    @if (Model.SearchQuery != null)
    {
        <div class="modal fade mt-2 search-results" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Search Results for "@Model.SearchQuery"</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            @foreach (var user in Model.UserSearchResults)
                            {
                                <li>
                                    <form method="post" asp-controller="AccountActions" asp-action="AddDeveloper" asp-route-projectId=@Model.Project.ID asp-route-userId=@user.ID>
                                        <img src=@user.Avatar alt="project avatar" class="rounded-circle" width="30px" height="30px">
                                        <label>@user.Name</label>
                                        <button type="submit" class="rounded-circle bg-white">+</button>
                                    </form>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
}

<!-- form for project deletion -->
@if (Model.IsDeveloper)
{
    <form method="post" onSubmit="return confirm('This action is not cannot be undone. Are you sure you wish to proceed?');" class="mt-sm-5" asp-controller="AccountActions" asp-action="DeleteProject" asp-route-projectId=@Model.Project.ID>
        <button type="submit" class="btn-danger">Delete Project</button>
    </form>
}