@model BugTracker.Models.ViewDataModels.ReportsViewModel

<!-- sort options -->
<form id="sort-form" method="get" asp-controller="Account" asp-action="Reports" asp-route-projectId=@Model.ProjectId>

	<div class="row">
		<!-- filter option -->
		<div class="col-auto">
			<label for="filter" class="text-dark">Filter Type</label>
			<select id="filter" name="filter" onchange="submitForm('sort-form')">
				<option selected hidden>@Model.FilterType</option>
				<option>All</option>
				<option>NEW</option>
				<option>Deferred</option>
				<option>Rejected</option>
				<option>Duplicate</option>
				<option>Not a Bug</option>
				<option>Open</option>
				<option>Closed</option>
			</select>
		</div>

		<!-- sort type option -->
		<div class="col-auto">
			<label for="sortType" class="text-dark">Sort Type</label>
			<select name="sortType" onchange="submitForm('sort-form')">
				<option selected hidden>@Model.SortType</option>
				<option>Date</option>
				<option>Severity</option>
				<option>Priority</option>
				<option>Upvotes</option>
			</select>
		</div>

		<!-- sort order option -->
		<div class="col-auto">
			<label for="sortOrder" class="text-dark">Sort Order</label>
			<select id="sortOrder" name="sortOrder" onchange="submitForm('sort-form')">
				<option selected hidden>@Model.SortOrder</option>
				<option>Descending</option>
				<option>Ascending</option>
			</select>
		</div>

	</div>
</form>

<!-- bug reports list -->
<h2 class="my-3 text-dark">@Model.FilterType Bug Reports</h2>
<div class="row">

	@foreach (var report in Model.BugReports)
	{
		<div class="col-3 m-1">
			<a asp-controller="Account" asp-action="BugReport" asp-route-reportId=@report.ID class="text-decoration-none text-dark">
				<div class="card hover-push shadow-grey">

					<div class="card-img-top block-strip bg-grad-sunset"></div>

					<div class="card-body bg-light">
						<div class="row mb-3">
							<div class="col-auto">
								<span class="material-symbols-outlined col-auto" style="color: @report.DisplayColor;">bug_report</span>
							</div>
							<div class="col-auto">
								<h5 class="card-title col-auto text-dark">@report.Summary</h5>
							</div>
							<div class="col-12">
								<i class="text-grey">Reported on <br /> @report.Date</i>
							</div>
						</div>

						@if (report.HelpWanted)
						{
							<div class="rounded-pill bg-success text-light d-inline p-1">Help Wanted</div>
						}

					</div>
				</div>
			</a>
		</div>
	}

</div>